<!-- <p>user-search works!</p> -->
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-8">
            <h4 class="text-center">Search Now</h4>
        </div>
        <div class="col-sm-4">
            <form (ngSubmit)="searchResult()">
                <div class="form-group">
                    <input type="text" placeholder="Enter your username" formControlName="username" name="username">&nbsp;
                    <button class="btn btn-success btn-sm" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-sm-6">
            <img src="{{userProfile.avatar_url}}" alt="profile pic" class="img-fluid rounded-pill">
        </div>
        <div class="col-sm-6">
            <h4 class="text-center">Profile Details</h4>
            <hr>
            <p *ngIf="userProfile.name"><strong><span>Name : &nbsp;</span></strong>{{userProfile.name}}.</p>
            <p *ngIf="userProfile.login"><strong><span>Profile Name : &nbsp;</span></strong>{{userProfile.login}}.</p>
            <p *ngIf="userProfile.bio"><strong><span>Bio : &nbsp;</span></strong>{{userProfile.bio}}.</p>
            <p *ngIf="userProfile.public_repos"><strong><span>Public repositories : &nbsp;</span></strong>{{userProfile.public_repos}}&nbsp;repositories</p>
            <p *ngIf="userProfile.created_at"><strong><span>Inception Date : &nbsp;</span></strong>{{userProfile.created_at| dateCreated}}.</p>
            <div class="row">
                <div class="col-sm-6">
                    <p *ngIf="userProfile.followers" class="text-center"><strong><span>Followers : &nbsp;</span></strong>{{userProfile.followers}}.</p>
                </div>
                <div class="col-sm-6">
                    <p *ngIf="userProfile.following" class="text-center"><strong><span>Following : &nbsp;</span></strong>{{userProfile.following}}.</p>
                </div>
            </div>
            <p *ngIf="userProfile.location"><strong><span>Current Location : &nbsp;</span></strong>{{userProfile.location}}.</p>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{{userProfile.html_url}}" target="_blank"><button class="btn bg-primary text-white profile">View Profile</button></a>
                </div>
                <div class="col-sm-6">
                    <button class="float-end btn bg-dark text-white">Explore More</button>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center mt-4">Repositories</h1>
    <hr>
    <div class="row">
        <div class="col-md-4" *ngFor="let userRepo of UserRepo">
            <div class="card">
                <div class="card-header">
                    <h4 *ngIf="userRepo.name">{{userRepo.name}}</h4>
                </div>
                <div class="card-body">
                    <p><strong><span>Description :</span></strong>&nbsp;{{userRepo.description}}</p>
                    <p><strong><a href="{{userRepo.homepage}}" target="_blank">Click HERE</a></strong></p>
                    <p><strong><span>Languages used: </span></strong>&nbsp;{{userRepo.language}}</p>
                    <p><strong><span>Creation Date: </span></strong>&nbsp;{{userRepo.created_at | dateCreated}}</p>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <a href="{{userRepo.html_url}}" target="_blank"><button class="btn btn-sm bg-info">Check Out</button></a>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa-solid fa-code-fork">                        <p><strong><span>Forks :</span></strong>&nbsp;{{userRepo.forks}}</p>
                        </i>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa-solid fa-eye">                        <p><strong><span>Watching :</span></strong>&nbsp;{{userRepo.watchers_count}}</p>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

