<nav class="navbar navbar-expand-sm bg-success text-white navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><strong class="display-5">GIT-DRAFT</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-item nav-link active" data-bs-toggle="tooltip" title="Personal Profile" routerLink="../users" routerLinkActive="active">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" data-bs-toggle="tooltip" title="Some of my repositories" routerLink="../repo" routerLinkActive="active">My repositories</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" data-bs-toggle="tooltip" title="About the app" routerLink="../about" routerLinkActive="active">About Git-draft</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tel:0791438867"   data-bs-toggle="tooltip" title="Any Enquiries?" routerLinkActive="active">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
</nav>